In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [8]:
# load traffic data
traffic = pd.read_csv('LE5D_D.txt', sep='\t')
traffic.head(30)

,Unnamed: 0,tt_vf,pa_vf,tr_vf,tt_ex,pa_ex,tr_ex,tt,pa,tr,...,c9b,c10a,c10b,c11,c12,c13a,c13b,c13c,uncl,urds
0,50101,0.499469,0.520269,0.215672,0.751997,0.779089,0.435131,3595,3489,106,...,0,14,1,1,0,0,1,0,0,20
1,50102,0.652575,0.679227,0.288919,0.642763,0.670239,0.317911,4697,4555,142,...,0,13,0,0,0,4,8,0,0,21
2,50103,0.752191,0.764522,0.583941,0.791482,0.799803,0.688673,5414,5127,287,...,1,41,0,0,0,4,7,0,0,39
3,50104,0.883484,0.885158,0.860652,0.849455,0.850432,0.841336,6359,5936,423,...,8,54,0,0,0,14,24,0,0,46
4,50105,0.889875,0.893806,0.836237,0.931339,0.927272,0.977999,6405,5994,411,...,4,48,2,0,2,24,15,0,1,25
5,50106,0.751496,0.743049,0.866756,0.817564,0.820986,0.780807,5409,4983,426,...,3,59,3,1,2,16,16,0,0,79
6,50107,0.922108,0.924077,0.895241,0.956368,0.958699,0.928757,6637,6197,440,...,2,43,1,2,2,12,23,0,1,67
7,50108,0.707315,0.725453,0.459828,0.825627,0.853631,0.498906,5091,4865,226,...,4,22,1,0,0,7,10,2,0,25
8,50109,0.610895,0.627633,0.382512,0.653693,0.678728,0.361170,4397,4209,188,...,1,17,0,0,0,5,10,0,0,23
9,50110,0.883484,0.880982,0.917622,0.912543,0.908127,0.965589,6359,5908,451,...,3,66,0,0,0,14,40,0,0,42
10,50111,0.885568,0.880535,0.954246,0.906217,0.890778,1.085019,6374,5905,469,...,5,60,2,1,3,22,31,0,0,24
11,50112,0.756637,0.756022,0.765024,0.796023,0.778009,1.002718,5446,5070,376,...,4,39,1,0,2,7,21,0,0,26
12,50113,0.768585,0.768548,0.769094,0.865379,0.851984,1.017962,5532,5154,378,...,2,48,0,1,0,8,17,0,0,43
13,50114,0.906964,0.913937,0.811821,1.001145,0.998803,1.025261,6528,6129,399,...,1,46,0,0,4,15,15,0,0,47
14,50115,0.790537,0.817757,0.419136,0.869756,0.900614,0.504821,5690,5484,206,...,3,14,1,0,0,3,11,0,0,26
15,50116,0.650769,0.671324,0.370304,0.693417,0.721031,0.369269,4684,4502,182,...,0,24,0,0,0,8,9,0,0,15
16,50117,0.903630,0.904990,0.885068,0.937862,0.932031,1.003658,6504,6069,435,...,2,34,3,3,3,21,15,3,1,77
17,50118,0.849306,0.836247,1.027493,0.934544,0.923887,1.061163,6113,5608,505,...,7,55,2,2,5,23,16,1,1,77
18,50119,0.719125,0.683402,1.206541,0.926016,0.910161,1.122887,5176,4583,593,...,6,55,3,3,4,23,14,4,3,388
19,50120,0.465986,0.440491,0.813856,0.840582,0.831002,0.959799,3354,2954,400,...,2,22,1,0,2,12,9,4,1,252
20,50121,0.833468,0.814327,1.094636,1.012374,1.008102,1.067993,5999,5461,538,...,1,28,0,0,5,19,22,1,1,291
21,50122,0.738715,0.759303,0.457794,0.854308,0.888239,0.458788,5317,5092,225,...,1,17,0,0,0,10,14,0,1,80
22,50123,0.667441,0.693692,0.309265,0.643549,0.668646,0.341966,4804,4652,152,...,0,10,1,0,0,11,6,0,0,44
23,50124,0.933779,0.933471,0.937969,0.864361,0.857645,0.939641,6721,6260,461,...,0,46,0,1,2,16,36,2,0,54
24,50125,0.979627,0.973882,1.058012,0.967310,0.958026,1.073770,7051,6531,520,...,12,58,0,1,0,22,52,1,4,35
25,50126,0.956286,0.954348,0.982731,0.979102,0.972351,1.056210,6883,6400,483,...,6,62,1,1,1,13,28,0,0,37
26,50127,0.964900,0.967619,0.927795,0.963495,0.958503,1.018305,6945,6489,456,...,3,56,1,2,1,16,17,1,1,36
27,50128,1.012138,1.015337,0.968488,1.054527,1.053903,1.059832,7285,6809,476,...,18,59,1,0,5,25,18,1,0,39
28,50129,0.865840,0.896938,0.441517,0.880322,0.905893,0.573854,6232,6015,217,...,0,20,1,1,1,6,8,0,0,49
29,50130,0.766501,0.799564,0.315369,0.725695,0.755775,0.367260,5517,5362,155,...,0,17,1,0,0,7,5,1,1,20

In [3]:
# Define the features and target variables
features = ['tt_ex','nsnow', 'ntemp']
target = 'tt_vf'

In [9]:
# Split the data into training and testing sets
train_data = traffic.sample(frac=0.8, random_state=42)
test_data = traffic.drop(train_data.index)
test_data

,Unnamed: 0,tt_vf,pa_vf,tr_vf,tt_ex,pa_ex,tr_ex,tt,pa,tr,...,c9b,c10a,c10b,c11,c12,c13a,c13b,c13c,uncl,urds
1,50102,0.652575,0.679227,0.288919,0.642763,0.670239,0.317911,4697,4555,142,...,0,13,0,0,0,4,8,0,0,21
8,50109,0.610895,0.627633,0.382512,0.653693,0.678728,0.361170,4397,4209,188,...,1,17,0,0,0,5,10,0,0,23
13,50114,0.906964,0.913937,0.811821,1.001145,0.998803,1.025261,6528,6129,399,...,1,46,0,0,4,15,15,0,0,47
14,50115,0.790537,0.817757,0.419136,0.869756,0.900614,0.504821,5690,5484,206,...,3,14,1,0,0,3,11,0,0,26
20,50121,0.833468,0.814327,1.094636,1.012374,1.008102,1.067993,5999,5461,538,...,1,28,0,0,5,19,22,1,1,291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,91129,0.759562,0.788998,0.416405,0.740908,0.763722,0.474899,5749,5500,249,...,1,24,0,0,0,2,9,2,1,434
1796,91202,1.026842,1.008770,1.237509,1.000969,0.967004,1.407934,7772,7032,740,...,0,82,0,1,0,35,33,0,0,754
1808,91214,0.875960,0.868759,0.959906,0.960916,0.947800,1.120747,6630,6056,574,...,0,46,0,0,0,6,26,0,1,1214
1819,91225,0.593222,0.629477,0.170576,0.865107,0.886965,0.611828,4490,4388,102,...,0,1,0,0,0,1,1,0,2,479
1822,91228,0.777134,0.786990,0.662235,0.787157,0.811792,0.486135,5882,5486,396,...,2,42,0,0,0,2,15,0,0,571

In [5]:
# Train a decision tree model on the training data
clf = DecisionTreeRegressor(random_state=42)
clf.fit(train_data[features], train_data[target])

DecisionTreeRegressor(random_state=42)

In [6]:
# Predict traffic volume for the test data
predictions = clf.predict(test_data[features])
#print(predictions)

In [10]:
# Calculate the mean absolute error of the predictions
mae = abs(predictions - test_data[target]).mean()

print("Mean absolute error: ", mae)

Mean absolute error:  0.06421300679452065